# Compiled class file
*.class

# idea
.idea/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab1/src/task_3_3/
/Lab1/Lab1.iml
/Lab2/Lab2.iml
/Lab3/Lab3.iml
/Lab4/Lab4.iml
/Lab5/Lab5.iml
/Lab6/Lab6.iml
/Lab7/Lab7.iml
/Lab8/Lab8.iml
/Lab9/Lab9.iml
/Lab10/Lab10.iml
/Lab11/Lab11.iml
/Lab12/Lab12.iml
/out/production/Lab13/task_13_2_2/resources/image1.jpeg
/out/production/Lab13/task_13_2_2/resources/image2.jpeg
/out/production/Lab13/task_13_2_2/resources/image3.jpeg
/out/production/Lab13/task_13_2_2/resources/image4.jpeg
/out/production/Lab13/task_13_2_2/resources/image5.jpeg
/out/production/Lab13/task_13_2_2/resources/image6.jpeg
/out/production/Lab13/task_13_2_2/resources/image7.jpeg
/out/production/Lab13/task_13_2_2/resources/image8.jpeg
/out/production/Lab13/task_13_2_2/resources/image9.jpeg
/out/production/Lab13/task_13_2_2/resources/image10.jpeg
/Lab13/Lab13.iml
/Lab14/Lab14.iml
/Lab15/Lab15.iml
/Lab16/Lab16.iml
/Lab17/Lab17.iml
/Lab18/Lab18.iml
/Lab19/Lab19.iml
/Lab20/Lab20.iml
/Lab21/Lab21.iml
/Lab23/Lab23.iml
